.admin-management {
    padding: 20px;
}

.admin-management h2 {
    margin-bottom: 20px;
}

.admin-management button {
    margin-bottom: 20px;
    padding: 10px 10px;
    background-color: #92A4B1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-management button:hover {
    background-color: #ddd;
}


.admin-list{
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 20px auto;
    height: 100%;
}

.admin-list table {
    width: 100%;
    border-collapse: collapse;
}

.admin-list th, .admin-list td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.admin-list th {
    background-color: #92A4B1;
    font-weight: bold;
    color: white;
}

.admin-list tr:hover {
    background-color: #f1f1f1;
}


.admin-list td {
    color: #555;
}

.admin-list button {
    padding: 5px 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.admin-list button:hover {
    background-color: #c82333;
}


@media (max-width: 768px) {
    .admin-list table,
    .admin-list th,
    .admin-list td {
        display: block;
        border-bottom: 3px solid #ddd;
    }

    
    .admin-list td {
        position: relative;
        border-bottom : 3px solid #9d9d9d;
        border: none;
    }

    .admin-list td:before {
        position: absolute;
        left: 10px;
        font-weight: bold;
        color: #333;
    }

    .admin-list tr {
        margin-bottom: 15px;
        border-bottom: 1px solid #ddd;
    }
}